:root {
  --background-primary: whitesmoke;
  --primary-color: #40c057;
  --input-bg-color: #d3f9d8;
  --shadow-color-1: #51cf66;
  --font-color: #1e612b;
  --font-color-2: #040e06;
  --red-gradient: rgba(0, 255, 0, 0.5);
  --success-color: #2b8a3e;
  --error-color: #c92a2a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: var(--background-primary);
  font-family: "Lucida Console", Courier, monospace;

  display: grid;
  place-items: center;
}

/* Message */

body::after {
  content: "Coded by Vamshidhar Thonti";
  font-family: inherit;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  color: var(--font-color-2);
  text-transform: uppercase;
}

.container {
  width: 75vw;
  height: 80vh;
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  justify-content: center;
  align-items: center;
}

/* Heading */

.app h1 {
  font-size: 4rem;
  color: var(--font-color);
  text-shadow: 2px 2px 5px var(--red-gradient);
}

/* Description */

.app-text {
  font-size: 2rem;
  color: var(--font-color-2);
  position: relative;
}

.result {
  position: absolute;
  right: 2rem;
  left: 2rem;
  bottom: -6rem;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
}

.success {
  color: var(--success-color);
  opacity: 1;
}

.error {
  color: var(--error-color);
  opacity: 1;
}

/* Input section */

.inputs {
  display: flex;
  gap: 10rem;
}

.text-input,
.submit {
  font-family: inherit;
  padding: 1.4rem 2rem;
  border-radius: 5px;
  outline: none;
  font-size: 2rem;

  transition: all 250ms;
}

.text-input {
  border: 3px solid var(--primary-color);
  background: var(--input-bg-color);
  color: var(--font-color);
  font-weight: bold;
}

.submit {
  border: 3px solid var(--primary-color);
  background: transparent;
  color: var(--font-color);
}

.text-input:focus {
  border: 3px solid var(--font-color);
}

.submit:hover {
  background: var(--primary-color);
  color: var(--input-bg-color);
  box-shadow: 0px 0px 10px var(--shadow-color-1),
    0px 0px 20px var(--shadow-color-1), 0px 0px 30px var(--shadow-color-1);
}

/* Disclaimer */

.disclaimer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 95vw;
  }

  .app {
    width: 100%;
    gap: 5rem;
  }

  .app h1 {
    font-size: 3rem;
    text-align: center;
  }

  .app-text {
    font-size: 1.8rem;
    margin: 0 2rem;
    text-align: center;
  }

  .result {
    position: absolute;
    right: 1rem;
    left: 1rem;
    bottom: -4rem;
    font-size: 1.6rem;
    text-align: center;
    opacity: 0;
  }

  .inputs {
    gap: 2.4rem;
    flex-direction: column;
  }

  .text-input,
  .submit {
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
  }

  .submit {
    background: var(--primary-color);
    color: var(--input-bg-color);
    box-shadow: 0px 0px 10px var(--shadow-color-1),
      0px 0px 20px var(--shadow-color-1), 0px 0px 30px var(--shadow-color-1);
  }

  body::after {
    font-size: 1rem;
    right: 50%;
    transform: translateX(50%);
  }

  .disclaimer {
    bottom: 30px;
    right: 10px;
    left: 10px;
    font-size: 1rem;
    text-align: center;
    /* right: 50%; */
    /* transform: translateX(50%); */
  }
}
