@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --gradient: linear-gradient(
    45deg,
    #845ef7,
    #5c7cfa,
    #339af0,
    #51cf66,
    #fcc419,
    #ff922b,
    #ff6b6b
  );
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Bebas Neue", sans-serif;
  background: whitesmoke;
}

@keyframes slide-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

h1 {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  letter-spacing: 0.5rem;

  background-image: var(--gradient);
  background-size: 400%;
  -webkit-background-clip: text;
  color: transparent;
  animation: slide-animation 10s infinite alternate;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
  margin: 1rem 30%;
}

.image-container img {
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.4s;
}

img:hover {
  box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.01);
}

/* Responsive layout - Media Queries */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .image-container {
    margin: 10px;
  }
}
